<div ng-controller="MessagesIndexCtrl" class="container">
  <h1>Flit</h1>
  <input type="text" ng-model="message">
  <h2>{{ message }}</h2>

  <form class="add-message" ng-submit="scheduleMessage(newMessage)">
    <div class="input-group">
      <label for="body">Body</label>
      <input class="form-control" type="text" name="body" ng-model="newMessage.body">
    </div>
    <div class="input-group">
      <label for="to">To</label>
      <input class="form-control" type="phone" name="to" ng-model="newMessage.to">
    </div>
    <div class="input-group">
      <label for="from">From</label>
      <input class="form-control" type="phone" name="from" ng-model="newMessage.from">
    </div>
    <div class="input-group">
      <button type="submit" class="btn btn-success">Schedule!</button>
    </div>
  </form>

  <div class="message-list">
    <ul>
      <li ng-repeat="message in messages" ng-show="message.body.length > 4">
        {{ message.body }}
        <span class="recipient">To: {{ message.to }}</span>
        <span class="sender">From: {{ message.from }}</span>
      </li>
    </ul>
  </div>
</div>