<div ng-controller="MessagesIndexCtrl" class="container">
  <h1>Flit</h1>
  <input type="text" ng-model="message">
  <h2>Send Your Message {{ message }}</h2>

  <form class="add-message" ng-submit="scheduleMessage(newMessage)">
    <div class="input-group">
      <label for="body">Body</label>
      <input class="form-control" type="text" name="body" ng-model="newMessage.body">
    </div>
    <div class="input-group">
      <label for="to">To</label>
      <input class="form-control" type="phone" name="to" ng-model="newMessage.to">
    </div>
    <div class="input-group">
      <label for="from">From</label>
      <input class="form-control" type="phone" name="from" ng-model="newMessage.from">
    </div>
    <div class="input-group">
      <button type="submit" class="btn btn-primary">Schedule!</button>
    </div>
  </form>

  <div class="message-list">
    <ul>
      <!-- ui-sref = go to this state, using this parameter -->
      <!-- similar to link_to in Rails -->
      <li ng-repeat="message in messages">
        <!-- TODO: add scheduled/delivered filter -->
        <!-- Not using filter now -->
        <!-- ng-show="message.body.length > 4" -->
        <a ui-sref="messages-show({message_id: message.id})">
          {{ message.body }}
          <span class="recipient">To: {{ message.to }}</span>
          <span class="sender">From: {{ message.from }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>