<div ng-controller="MessagesSentCtrl" class="message-list">
<h1>{{ User.name }}'s sent messages</h1>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="message in messages">
      <a ui-sref="messages-show({message_id: message.id})">
        {{ message.body }}
        <span class="recipient">To: {{ message.to }}</span>
        <span class="sender">From: {{ message.from }}</span>
      </a>
      <button ng-click="deleteMessage({message_id: message.id})" class="btn btn-danger">Delete</button>
    </li>
  </ul>
</div>